<head>

  <#assign env = config.getString("phase", "prod") />
  <#assign search_hub = "LiveSearch"/>

  <#assign comPrefix = "/paloaltonet"/>
  <#if env == "stage"> <#--Start (is Stage instance)-->
    <#if community.urls.communityPrefix == '/rpymh78296'>
      <#assign comPrefix = "/paloaltonetdev2"/>
       <#assign search_hub = "DevLiveSearch"/>

    <#elseif community.urls.communityPrefix == '/twzvq79624'>
      <#assign comPrefix = "/paloaltonet"/>
       <#assign search_hub = "LiveSearch"/>
    <#elseif community.urls.communityPrefix == '/oekjr48943'>
      <#assign comPrefix = "/paloaltonetdev3"/>
       <#assign search_hub = "LiveSearch"/>
    <#else>
    </#if>
  <#else>
   <#assign search_hub = "LiveSearch"/>

  </#if>

  <!-- Coveo Resources -->
  <script src="https://static.cloud.coveo.com/searchui/v2.8959/js/CoveoJsSearch.min.js"></script>
  <!-- <script src="https://static.cloud.coveo.com/searchui/v2.8959/js/cultures/en.js"></script> -->
  <script src="https://static.cloud.coveo.com/searchui/v2.8959/js/templates/templatesNew.js"></script>
  <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.8959/css/CoveoFullSearch.min.css" />

  <!-- <link rel="stylesheet" href="/html/assets/CoveoFullSearchNewDesign.css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/plugins/custom/paloaltonet/${comPrefix}/coveo-search-token" type="text/javascript"></script>
  <!-- <script src="/html/assets/CoveoJsSearch.js"></script> -->
  <!-- <script src="/html/assets/CoveoTemplatesNew.js"></script> -->

  <style type="text/css">
    #search .CoveoBreadcrumb .coveo-facet-breadcrumb-values .coveo-facet-breadcrumb-clear {
      top: 1px;
    }
    #search .coveo-list-layout.CoveoResult {
        padding: 0;
    }
    #search .coveo-facet-searching .coveo-facet-value.coveo-facet-search-button {
        display: block;
    }
    #search .CoveoFacet[data-field="@filetype"] li.coveo-facet-value.coveo-facet-selectable.coveo-with-hover label {
        font-size: 15px !important;
    }
    i.fa.fa-youtube-play.fa-3x:before {
        font-size: 38px;
    }
    header.coveo-modal-header {
        margin-top: 100px !important;
    }
    .coveo-pager-list-item.coveo-active a, .coveo-active.coveo-results-per-page-list-item a, .coveo-pager-list-item:hover a, .coveo-results-per-page-list-item:hover a {
        color: #CDDEE9 !important;
    }
    .CoveoSearchInterface .coveo-search-section{
          margin: 19px auto 47px auto !important;
    }
    .coveo-facet-search-button{
      display: none;
    }
    #source .coveo-facet-search{
      display: none;
    }
    .coveo-facet-settings-popup
    {
      display: block !important;
    }
    .coveo-facet-value-checkbox {
        margin-left: 5px;
    }
    .coveo-sprites-coveo-logo
    {
      background-position: 0px 0px;
      width: 0px;
      height: 0px;
    }
    li.coveo-pager-list-item {
        padding: 5px 10px 5px 10px !important;
        margin: 0px 0px 5px 5px !important;
    }
    li.coveo-results-per-page-list-item {
        padding: 5px 10px 5px 10px !important;
        margin: 0px 0px 5px 5px !important;
    }
    .coveo-modalBox  .coveo-wrapper  .coveo-title
    {
      line-height: 13px;
    }

    .coveo-sprites-coveo-logo, .coveo-logo{
      display: none;
    }
    .custom-txt-desc{
        text-align: center;
        padding-right: 45px;
        margin: 0 220px;
        padding-left: 24px;
    }
    .fa{
          color: #b1b3b3;
    }
    #search .coveo-facet-less-icon, .coveo-facet-more-icon {
      top: -12px;
    }
    </style>
  <@liaAddScript>
        /**
         * Configuring Search Endpoint
         * @param restUri
         * @param accessToken will comes from endpoint coveo-search-token
         */
        Coveo.SearchEndpoint.endpoints['default'] = new Coveo.SearchEndpoint({
          restUri: 'https://platform.cloud.coveo.com/rest/search',
          accessToken: coveoSearchKey
        });

        var dateRange = []; var now = new Date();
        var dateRange = [
           {
            start: new Date(now.getFullYear(),now.getMonth(),now.getDate()-2),
            end: new Date(now.getFullYear(),now.getMonth(),now.getDate()+1),
            label: "A day ago",
            endInclusive: false
        },
        {
            start: new Date(now.getFullYear(),now.getMonth(),now.getDate()-8),
            end: new Date(now.getFullYear(),now.getMonth(),now.getDate()-2),
            label: "A week ago",
            endInclusive: false
        },
                       {
            start: new Date(now.getFullYear(),now.getMonth(),now.getDate()-7),
            end: new Date(now.getFullYear(),now.getMonth(),now.getDate()-30),
            label: "A month ago",
            endInclusive: false
        },
        {
            start: new Date(1900,01,01),
            end: new Date(now.getFullYear(),now.getMonth(),now.getDate()-365),
            label: "A year ago",
            endInclusive: false
        },
        {
            start: new Date(1900,01,01),
            end: new Date(),
            label: "All",
            endInclusive: false
        }]
        // END : Configuring By Date filter which is in lithum
        //BEGIN : Renaming Source names
        //Removed due to removing the Community Articles "Lithium - https://live.paloaltonetworks.com/t5/Topics/ct-p/Topics": "Knowledge Base"
        var valueCaption = {
          "Lithium - Blogs": "Blogs",
          "Lithium - https://live.paloaltonetworks.com/t5/Discussions/ct-p/members": "Discussions",
          "LIVE - Blogs": "Blogs",
          "LIVE - Discussion": "Discussions",
          "LIVE - Discussions": "Discussions",
          "Salesforce - Knowledge - GCS QA": "Knowledge Base",
          "Salesforce - Knowledge - GCS SIT": "Knowledge Base",
          "Salesforce - Knowledge - Production": "Knowledge Base",
          "Salesforce Knowledge": "Knowledge Base",
          "Salesforce Knowledge Production": "Knowledge Base",
          "Salesforce Knowledge QAQ3": "Knowledge Base",
          "Salesforce Knowledge SIT": "Knowledge Base",
          "Sitemap - PAWebResources":"Palo Alto Networks Website",
          "TechDocs Sitemap": "Technical Documentation",
          "PAN techDOCS": "Technical Documentation",
          "Web - PATechDocs": "Technical Documentation",
          "Web - PAWebResources":"Palo Alto Networks Website",
          "YouTube - PAN Tutorials":"Video Tutorials",
          "lithiummessage": "LIVEcommunity Message",
          "lithiumthread": "LIVEcommunity Thread",
          "lithiumboard": "LIVEcommunity Board",
        };
        //END : Renaming Source names
         /**
         * Initialising Coveo in search page
         * @param root
         * @param Facet - Renames facet source values
         * @param FacetRange - Creates Date range filter
         */
        var root = Coveo.$$(document).find('#search');

        // Disable the resultLink title tooltip
        // https://dev.azure.com/CoveoPS/Palo%20Alto%20-%20Coveo%20Migration/_workitems/edit/154887
        Coveo.$$(root).on("newResultDisplayed", function(e, args) {
            try {
                args.item.querySelector(".CoveoResultLink").setAttribute("title", "");
            } catch (error) {
                console.warn('Unable to deacitvate CoveoResultLink title tooltip', error);
            }
        });
        Coveo.init(root, {
          Facet: {
              valueCaption: valueCaption,
          },
          FacetRange: {
              field: "@litopicposttime",
              ranges: dateRange
          }
        });
        /**
         * getHashValue
         * @param key - gets param name to get hash
         *
         * returns value of q
         */
        function getHashValue(key) {
         var matches = location.hash.match(new RegExp(key+'=([^&]*)'));
         return matches ? matches[1] : null;
        }
        /**
         * getSearchTerm redirects page to lithium search page
         *
         */
        function getSearchTerm()
        {
          var searchQuery=getHashValue('q');
          if(searchQuery===null || searchQuery === undefined){
            window.location.href="/t5/forums/searchpage/tab/message?ref=global";
          }
          else{
            window.location.href="/t5/forums/searchpage/tab/message?ref=global&q="+searchQuery;
          }

        }
        // gets all available boards endpoint coveo-search-token
        var boards=allBoardIds;
   </@liaAddScript>
</head>

<div id="search" class='CoveoSearchInterface lia-content' data-loading-animation="false" data-enable-history="true" data-design="new">

  <div class='CoveoAnalytics' data-search-hub="${search_hub}"></div>
  <span class="CoveoTriggers"></span>

  <div class="CoveoFoldingForThread" data-field="@foldfoldingfield" data-child="@foldparentfield" data-parent="@foldchildfield" data-rearrange="date ascending" data-enable-expand="true" data-range="2"></div>

  <div class="custom-txt-desc">The search results shown on this page include Live Community, Technical Documentation, Palo Alto Knowledgebase and the Palo Alto Networks website. Use the Source filter to narrow the scope of the search results.<br><a class="lit-search" style="cursor: pointer; color: #009DDC;" onclick="getSearchTerm()"> To use the Live Community-only search, please click here.</a></div>
  <div class='coveo-search-section'>
    <#if user.registered>
      <div class="CoveoSettings"></div>
    </#if>
    <div class="CoveoSearchbox" data-enable-omnibox="true" data-enable-reveal-query-suggest-addon='true'></div>
  </div>
  <div class="coveo-main-section">
    <div class="coveo-facet-column">
    <div class="CoveoFacet" data-title="By source" data-field="@source" id="source"></div>
    <div class="CoveoFacet" data-title="By category" data-field="@licategoryshorttitle" data-enable-collapse='true' id="category" data-tab="Lithium"></div>
    <div class="CoveoFacet custom-liboard" data-title="By board" data-field="@liboardshorttitle" data-tab="Lithium"></div>
    <div class="CoveoFacet" data-title="Product Category" data-field="@panproduct" data-is-multi-value-field="true"></div>
    <div class="CoveoFacet" data-title="OS Version" data-field="@panosversion" data-is-multi-value-field="true"></div>
    <div class="CoveoFacet" data-title="Feature Category" data-field="@panfeaturecategory" data-is-multi-value-field="true"></div>
    <div class="CoveoFacet" data-title="Feature" data-field="@panfeature" data-is-multi-value-field="true"></div>
    <div class="CoveoFacet" data-title="Tags" data-field="@limessagetags" data-is-multi-value-field='true'></div>
    <div class="CoveoFacet" data-title="Labels" data-field="@litopiclabels" data-is-multi-value-field='true'></div>
    <div class="CoveoFacet custom-liauthor" data-title="By author" data-field="@limessageauthor" data-tab="Lithium"></div>
    <div class='CoveoFacetRange' data-title="By date" data-field='@litopicposttime' id="byDate"></div>
    <div class="CoveoFacet" data-title="By metadata" data-field="@libymetadata" data-tab="Lithium"></div>
    <div class="CoveoFacet" data-title="By type of post" data-field="@liboardinteractionstyle" data-tab="Lithium"></div>
    <div class="CoveoFacet" data-title="File Type" data-field="@filetype"></div>
    <div class="CoveoFacet" data-title="By year" data-field="@year" data-tab="Lithium"></div>
    <div class="CoveoFacet" data-title="By month" data-field="@month" data-tab="Lithium"></div>
  </div>
  <div class="coveo-results-column">
    <div class="CoveoShareQuery"></div>
    <div class="CoveoExportToExcel"></div>
    <div class="CoveoPreferencesPanel">
      <div class="CoveoResultsPreferences"></div>
      <div class="CoveoResultsFiltersPreferences"></div>
    </div>
    <div class="CoveoBreadcrumb"></div>
    <div class="coveo-results-header">
    <div class="coveo-summary-section">
      <span class="CoveoQuerySummary"></span>
      <span class="CoveoQueryDuration"></span>
    </div>
    <div class="coveo-result-layout-section">
      <span class="CoveoResultLayout"></span>
    </div>
    <div class="coveo-sort-section">
      <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
      <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
    </div>
  </div>
  <div class="CoveoHiddenQuery"></div>
  <div class="CoveoDidYouMean"></div>
  <div class="CoveoErrorReport"></div>
  <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true">
    <script id="Lithium" class="result-template" type="text/underscore">
      <div class="coveo-result-frame templatelithium">
        <div class="coveo-result-row">
          <div class="coveo-result-cell" style="width:84px; text-align:center; padding-top:7px">
              <% if (raw.syssource == "LIVE - Discussions"){ %>
                <%= loadTemplate("custom-lithiumView")%>
              <% } %>

              <% if (raw.liboardinteractionstyle == "blog"){ %>
                <%= loadTemplate("custom-lithiumView")%>
              <% } %>

              <% if (raw.objecttype == "Knowledge"){ %>
                <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
                <span class="CoveoQuickview"></span>
              <% } %>
            <% if (raw.syssourcetype == "Lithium" && raw.documenttype != "board" && raw.documenttype != "category") { %>
              <span class="CoveoQuickview"></span>
            <% } if (raw.syssource == "Sitemap - PAWebResources" || raw.syssource == "Web - PAWebResources") { %>
              <img style="width: 36%;color: #b1b3b3;" src="${asset.get("/html/assets/WebResources.png")}">
              <span class="CoveoQuickview"></span>
            <% } if (raw.syssource == "TechDocs Sitemap" || raw.syssource == "PAN techDOCS") { %>
              <i class="fa fa-book fa-2x" aria-hidden="true"></i>
              <span class="CoveoQuickview"></span>
            <% } if(raw.syssource == "YouTube - PAN Tutorials"){ %>
            <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
          <% } %>
          </div>
          <div class="coveo-result-cell" style="padding-left:15px">
            <div class="coveo-result-row">
              <div class="coveo-result-cell" style="font-size:18px">
                <a class="CoveoResultLink" data-always-open-in-new-window='true'></a>
              </div>
              <% if(raw.syssourcetype !== "Lithium") { %>
                <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                  <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime" data-helper-options-predefined-format="MM-dd-YYYY h:mm A"></span>
                </div>
              <% } %>
            </div>
              <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width : 73%;padding-top:5px; padding-bottom:5px">
                  <div class="CoveoExcerpt">
                  </div>
                </div>
                <% if(raw.syssourcetype == "Lithium") { %>
                   <div class="coveo-result-cell lia-summary-view-statistics-wrapper " style="padding-top:5px; padding-bottom:5px; font-size:13px">
                     <% if(raw.litopicposttime ) { %>
                      <span class="CoveoFieldValue lia-summary-view-statistic-post-date" data-field="@litopicposttime" data-helper="dateTime" data-helper-options-predefined-format="MM-dd-YYYY h:mm A"></span>
                      <br>
                     <% } %>
                     <% if(raw.limessagekudoscount && raw.limessagekudoscount != '0') { %>
                      <span class="CoveoFieldValue lia-summary-view-statistic-kudos" data-field="@limessagekudoscount"></span><span> Likes</span><br>
                     <% } %>
                     <% if(raw.litopicviewcount && raw.litopicviewcount > 0) { %>
                      <span class="CoveoFieldValue lia-summary-view-statistic-views" data-field="@litopicviewcount"></span></span><span> Views</span><br>
                     <% } %>
                     <% if(raw.objecttype == "KBKnowledge" || raw.objecttype == "Knowledge"){ %>
                       <span class="CoveoText" data-value="Found in: Knowledge Base ->"></span>
                     <%}%>
                     <% if(raw.syssource == "LIVE - Discussions"){ %>
                     <span class="CoveoText" data-value="Found in: Discussions->"></span>
                     <%}%>
                     <span>{{-raw.liboardshorttitle }}</span>
                  </div>
                <%}%>
            </div>
          <% if (raw.limessageissolution === 'True'){ %>
          <div class="coveo-result-row">
            <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
              <div style="color:#50b22a">This question has been solved
              </div>
            </div>
          </div>
          <% } %>
          <!-- <% if(_.size(childResults)>0) {%> -->
            <span class="CoveoResultFolding" data-result-template-id="LithiumChildResult"></span>
          <!-- <% } %> -->
        </div>
      </div>
    </div>
  </script>
  <script id="LithiumChildResult" type="text/underscore">
    <div class="coveo-result-frame coveo-email-result">
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <div class="coveo-result-row">
            <div class="coveo-result-cell" style="font-size:18px">
              <% if (raw.limessageissolution == 'False'){ %>
              <div class="lithium-icons post">
              <% } else { %>
              <div class="lithium-icons postacc">
              <% } %>
              </div>
              <a class="CoveoResultLink" data-always-open-in-new-window='true'></a>
            </div>
            <div class="coveo-result-cell" style="width:130px; text-align:right; font-size:12px">
              <span class="CoveoFieldValue" data-field="@limessageposttime" data-helper="emailDateTime" data-helper-options="{predefinedFormat: 'yyyy/MM/dd'}"></span>
            </div>
          </div>
          <div class="coveo-result-row">
            <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
              <div class="CoveoExcerpt">
              </div>
            </div>
          </div>
          <div class="coveo-result-row">
             <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
               <span class="CoveoResultAttachments" data-result-template-id="EmailResultAttachment"></span>
             </div>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>
<div class="CoveoResultList" data-layout="card" data-wait-animation="fade" data-auto-select-fields-to-include="true">
  <script id="LithiumCardView" class="result-template" type="text/underscore">
    <div class="coveo-result-frame">
      <div class="coveo-result-row" style="margin-bottom: 10px">
        <div class="coveo-result-cell" style="width:32px; vertical-align:middle; flex-grow:0">
          <% if (raw.syssource == "LIVE - Discussions") { %>
                <%= loadTemplate("custom-lithiumView")%>
              <% } %>

              <% if (raw.liboardinteractionstyle == "blog"){ %>
                <%= loadTemplate("custom-lithiumView")%>
              <% } %>

              <% if (raw.objecttype == "KBKnowledge" || raw.objecttype == "Knowledge"){ %>
                <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
          <% } if (raw.syssource == "Sitemap - PAWebResources") { %>
            <img style="width: 95%;color: #b1b3b3;" data-small="true" src="${asset.get("/html/assets/WebResources.png")}">
          <% } if (raw.syssource == "TechDocs Sitemap" || raw.syssource == "PAN techDOCS") { %>
          <i class="fa fa-book fa-2x" aria-hidden="true"></i>
          <% } if(raw.syssource == "YouTube - PAN Tutorials"){ %>
            <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
          <% } %>
        </div>
        <div class="coveo-result-cell" style="padding-left: 10px; vertical-align: middle;">
          <a class="CoveoResultLink" data-always-open-in-new-window='true'></a>
        </div>
      </div>
      <div class="coveo-result-row">
          <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
            <% if(raw.objecttype == "KBKnowledge" || raw.objecttype == "Knowledge"){ %>
                <span class="CoveoText" data-value="Found in: Knowledge Base" data-weight="bold"></span>
            <%}%>
            <% if(raw.syssource == "LIVE - Discussions"){ %>
                <span class="CoveoText" data-value="Found in: Discussions" data-weight="bold"></span>
            <%}%>
          </div>
      </div>
        <div class="coveo-result-row">
          <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
            <span class="CoveoExcerpt"></span>
          </div>
        </div>
        <div class="coveo-result-row">
          <div class="coveo-result-cell">
              <div class="CoveoText" data-value="Modified" data-weight="bold"></div>
              <div class="CoveoFieldValue" data-field="@date" data-helper="dateTime" data-helper-options-predefined-format="MM-dd-YYYY h:mm A"></div>
          </div>
        </div>
            <div class="CoveoCardActionBar">
              <% if (raw.syssourcetype != "Lithium" || (raw.documenttype != "board" && raw.documenttype != "category")) { %>
                <span class="CoveoQuickview"></span>
              <% } %>
              <% if(raw.syssourcetype == "Lithium") { %>
                <div class="CoveoCardOverlay" data-title="Details" data-icon="coveo-sprites-main-search-active">
                    <table class="CoveoFieldTable" data-allow-minimization="false">
                      <tbody>
                        <tr data-field="@liboardshorttitle" data-caption="Board"/>
                        <tr data-field="@licategoryshorttitle" data-caption="Category"/>
                        <tr data-field="@limessageauthor" data-caption="Author"/>
                        <tr data-field="@limessagerating" data-caption="Rating"/>
                        <tr data-field="@limessagetags" data-caption="Tags" data-split-values="true"/>
                        <tr data-field="@litopicviewcount" data-caption="View Count"/>
                      </tbody>
                    </table>
                </div>
              <% } %>
              <!-- <% if(_.size(childResults)>0) {%> -->
                <div class="CoveoCardOverlay" data-title="Replies" data-icon="coveo-sprites-replies">
                    <span class="CoveoResultFolding" data-result-template-id="CardLithiumChildResult"></span>
                  </div>
              <!-- <% } %> -->
          <!--<div class="CoveoFollowItem"></div> -->
            </div>
      </div>
  </script>
  <script id="CardLithiumChildResult" class="result-template" type="text/underscore">
     <div class="coveo-result-frame coveo-email-result" style="padding: 20px 0">
      <div class="coveo-result-row">
          <div class="coveo-result-cell" style="padding-bottom:5px">
           <a class="CoveoResultLink" data-always-open-in-new-window='true'>      </a>
          </div>
          <div class="coveo-result-cell" style="width: 30px; padding-left: 6px">
          <% if (raw.syssourcetype != "Lithium" || (raw.documenttype != "board" && raw.documenttype != "category")) { %>
            <div class="CoveoQuickview">
                <span class="coveo-sprites-quickview">        </span>
              </div>
            </div>
          <% } %>
      </div>
      <div class="coveo-result-row" style="margin-top: 3px; margin-bottom: 3px;">
        <div class="coveo-result-cell">
          <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime" style="font-size: 12px">
          </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
            <span class="CoveoExcerpt">      </span>
        </div>
      </div>
    </div>
  </script>
  <script id='custom-lithiumView' class='result-template' type='text/underscore'>
    <% if(raw.liboardinteractionstyle == "forum") { %><img style="color: #b1b3b3" <#if skin.images.icon_stat_replies??>src="${skin.images.icon_stat_replies.url}"<#else>alt="icon_stat_replies"</#if> data-small="false"><% } %>
    <% if(raw.liboardinteractionstyle == "tkb") { %><img style="color: #b1b3b3" <#if skin.images.icon_tkb_thread??>src="${skin.images.icon_tkb_thread.url}"<#else>alt="icon_tkb_thread"</#if>><% } %>
    <% if(raw.liboardinteractionstyle == "blog") { %><img style="color: #b1b3b3" <#if skin.images.icon_message_originating??>src="${skin.images.icon_message_originating.url}"<#else>alt="icon_message_originating"</#if>><% } %>
    <% if(raw.liboardinteractionstyle == "ideas") { %><img style="color: #b1b3b3" <#if skin.images.icon_ideas??>src="${skin.images.icon_ideas.url}"<#else>alt="icon_ideas"</#if>><% } %>
    <% if(raw.liboardinteractionstyle == "contest") { %><img style="color: #b1b3b3" <#if skin.images.icon_contest_thread??>src="${skin.images.icon_contest_thread.url}"<#else>alt="icon_contest_thread"</#if>><% } %>
    <% if(raw.liboardinteractionstyle == "group") { %><img style="color: #b1b3b3" <#if skin.images.icon_group_thread??>src="${skin.images.icon_group_thread.url}"<#else>alt="icon_group_thread"</#if>><% } %>
    <% if(raw.limessageissolution == "True") { %><img style="color: #b1b3b3" <#if skin.images.message_type_solved??>src="${skin.images.message_type_solved.url}"<#else>alt="message_type_solved"</#if>><% } %>
  </script>
</div>
<div class="CoveoPager"></div>
<div class="CoveoResultsPerPage"></div>

</div>
</div>